@font-face {
    font-family: 'AlmoniDLAAA-Black';
    src: url('../fonts/AlmoniDLAAA-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/AlmoniDLAAA-Black.otf')  format('opentype'),
    url('../fonts/AlmoniDLAAA-Black.woff') format('woff'), url('../fonts/AlmoniDLAAA-Black.ttf')  format('truetype'), url('../fonts/AlmoniDLAAA-Black.svg#AlmoniDLAAA-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlmoniDLAAA-Bold';
    src: url('../fonts/AlmoniDLAAA-Bold.eot?#iefix') format('../fonts/embedded-opentype'),  url('../fonts/AlmoniDLAAA-Bold.otf')  format('opentype'),
    url('../fonts/AlmoniDLAAA-Bold.woff') format('woff'), url('../fonts/AlmoniDLAAA-Bold.ttf')  format('truetype'), url('../fonts/AlmoniDLAAA-Bold.svg#AlmoniDLAAA-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlmoniDLAAA-Light';
    src: url('../fonts/AlmoniDLAAA-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/AlmoniDLAAA-Light.otf')  format('opentype'),
    url('../fonts/AlmoniDLAAA-Light.woff') format('woff'), url('../fonts/AlmoniDLAAA-Light.ttf')  format('truetype'), url('../fonts/AlmoniDLAAA-Light.svg#AlmoniDLAAA-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'AlmoniDLAAA';
    src: url('../fonts/AlmoniDLAAA.eot?#iefix') format('embedded-opentype'),  url('../fonts/AlmoniDLAAA.otf')  format('opentype'),
    url('../fonts/AlmoniDLAAA.woff') format('woff'), url('../fonts/AlmoniDLAAA.ttf')  format('truetype'), url('../fonts/AlmoniDLAAA.svg#AlmoniDLAAA') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd-Lt';
    src: url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd-Lt.otf')  format('opentype'),
    url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Lt.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Th';
    src: url('../fonts/HelveticaNeueLTStd-Th.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd-Th.otf')  format('opentype'),
    url('../fonts/HelveticaNeueLTStd-Th.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Th.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-Th.svg#HelveticaNeueLTStd-Th') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-UltLt';
    src: url('../fonts/HelveticaNeueLTStd-UltLt.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd-UltLt.otf')  format('opentype'),
    url('../fonts/HelveticaNeueLTStd-UltLt.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-UltLt.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-UltLt.svg#HelveticaNeueLTStd-UltLt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@-moz-keyframes rotate {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
body{
    min-height: 667px;
}
.center-container {
    height:100%;
    width:100%;
    padding-top:80px;
    padding-bottom:80px;
    position:absolute;
}
.center{
    width:20px;
    height:20px;
    position:absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}
.center-container {
    z-index:9;
}
.content {
    width: 100%;
    height: 100%;
    background-color:#0A3A44 ;
    position:relative;
}
.back-ground-shine {
    width: 3531px;
    height: 2600px;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background: url(../img/shine.png) no-repeat 0 0;
    left: 50%;
    top: 50%;
    /*z-index: 102;*/
}
.page3 .back-ground-shine{
    z-index: 102!important;
}
.back{
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 99;
    overflow: hidden;
}
.back-ground-wheel {
    width: 2000px;
    height: 2000px;
    left: calc(50% - 1000px);
    top: calc(50% - 1000px);
    z-index: 99;
    position: absolute;
    background: url(../img/wheel.png) no-repeat center;
    animation-name: rotate;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 90s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.page1 .logo{
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 9999999999;
}
.back-ground-2 {
    width: 100%;
    height: 100%;
    background: url(../img/back-ground-1.png) no-repeat scroll center center;
    background-size: cover;
    position:relative;
    z-index: 99;
}
.page3 .content {
    z-index:9;
}
.page1 h1{
    text-align: center;
    color:#fff;
    font-family: 'AlmoniDLAAA-Black';
    font-size:49px;
    position:absolute;
    /*top: 20px;*/
    /*left: 0;*/
    /*width: 100%;*/
    top: -130px;
    left: -142px;
    width: 227%;
    z-index: 99;
}
.page1 h2{
     font-family: 'AlmoniDLAAA';
    font-size:29px;
    color:#F08149;
    text-align:center;
    margin-top: 5px;
}

.hexagon {
    width: 110px;
    height: 62px;
    background: #F08149;
    position: relative;
    top:20%;
    font-size:18px;
    font-family: 'AlmoniDLAAA-Bold';
    color:#fff;
}
.hexagon:before {
    content: "";
    position: absolute;
    top: -32px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 32px solid #F08149;
}
.hexagon:after {
    content: "";
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-top: 32px solid #F08149;
}

.hexagon-logo-in {
    width: 92px;
    height: 54px;
    background: #F08149;
    position: relative;
    top: -60px;
    left: 9px;
    font-size:18px;
    font-family: 'AlmoniDLAAA-Bold';
    color:#fff;
}
.hexagon-logo-in:before {
    content: "";
    position: absolute;
    top: -27px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 46px solid transparent;
    border-right: 46px solid transparent;
    border-bottom: 27px solid #F08149;
}
.hexagon-logo-in:after {
    content: "";
    position: absolute;
    bottom: -27px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 46px solid transparent;
    border-right: 46px solid transparent;
    border-top: 27px solid #F08149;
}
.hexagon-logo {
    width: 110px;
    height: 65px;
    background: #fff;
    position: relative;
    top:20%;
    font-size:18px;
    font-family: 'AlmoniDLAAA-Bold';
    color:#fff;
}
.hexagon-logo:before {
    content: "";
    position: absolute;
    top: -32px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 32px solid #fff;
}
.hexagon-logo:after {
    content: "";
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-top: 32px solid #fff;
}

.hexagon-group-1{
    position:absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    top:51%;
    left:50%;
    width: 230px;
    z-index: 999;
}
.hexagon-group-1>h1{
    margin-top: -40px;
}
.hexagon-group-1-under{
    position: absolute;
    /*left: 0;*/
    bottom: 175px;
    width: 500%;
    z-index: 999;
    left: -200%;
    top: 215px;
}
.hexagon-group-1-under>p{
   font-size:15px;
    color:#fff;
   font-family: 'AlmoniDLAAA-Light';
    text-align: center;
    width: 30%;
    left: 35%;
    position: absolute;
}
.hexagon-group-1-under a{
    font-size:39px;
    color:#fff;
    font-family: 'AlmoniDLAAA-Bold';
    text-decoration:none;
}
.hexagon p{
  position:relative;
    z-index:999;
    text-align: center;
    right: 15px;
}
.hexagon-2{
    left: 120px;
    top: -62px;
}
.hexagon-3{
    left: -59px;
    top: -21px;
}
.hexagon-4{
    left: 60px;
    top: -83px;
}
.hexagon-5{
    left: 179px;
    top: -145px;
}

.hexagon-1 .hex-1{
    position: absolute;
    top: -8px;
    left: 32px;
}
.hexagon-2 .hex-2{
    position: absolute;
    top: -10px;
    left: 32px;
}

.hexagon-3 .hex-3{
    position: absolute;
    top: -10px;
    left: 29px;
}
.hexagon-4 .hex-4{
    position: absolute;
    top: -10px;
    left: 26px;
}
.hexagon-5 .hex-5{
    position: absolute;
    top: -9px;
    left: 25px;
}
.hex-5 p{
    top: 4px;
    margin-left: 12px;
 }
.hex-3 p{
    margin-top: 5px;
}
.hex-4 p {
    right: 10px;
    top: 4px;
}

.footer-last, .footer-first {
    background-color: #15535F!important;
}



.social-bar{
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
}
.icon-container{
    width: 32px;
    height: 34px;
    margin: 0 auto;
    display:inline-block;
}
.icon-container-menu{
    width: 24px;
    height: 24px;
    margin: 0 auto;
    display:inline-block;
}
.icon-container i{
    background-image: url(../img/social.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 100%;
    width: 100%;
    display: block;
}
.icon-container-menu i{
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    width: 100%;
    display: block;
}
.icon-social-facebook{
    background-position: 0px 0px;
    margin-left: 4px;
}
.icon-social-twitter{
    background-position: -32px 0px;
}
.icon-social-google{
    background-position: -64px 0px;
    margin-left: -4px;
}

.icon-geometric-shapes{
    background-position: 0px 0px;
    margin-top:5px;

}
.icon-heart{
    background-position: 0px -27px;
    margin-top: 5px;
}
.icon-sprout{
    background-position: 0px -51px;
    height: 30px!important;
}
.icon-glebe{
    margin-top: 3px;
    background-position: 0px -83px;
}
.icon-water{
    margin-top: 5px;
    background-position: 0px -111px;
}

.icon-conditioning{
    margin-top: 3px;
    background-position: 0px -139px;
}
.icon-sun{
    margin-top: 3px;
    background-position: 0px -168px;
}
.icon-zipper {
    margin-top: -1px;
    background-position: 0px -192px;
    height: 35px!important;
}
.icon-picking{
    background-position: 0px -227px;
    height: 35px!important;
}
.icon-species{
    background-position: 0px -259px;
    height: 32px!important;
}

.icon-fertilizer{
    margin-top: -1px;
    background-position: 0px -293px;
}
.icon-control{
    margin-top: 4px;
    background-position: 0px -322px;
}
.icon-space{
    margin-top: 4px;
    background-position: 0px -351px;
}
.footer-last .logo{
    position: absolute;
    bottom: 17px;
    right: 50px;
    z-index:99999999999;
}
.footer-first .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left:30px;
    padding-right:30px;
}


/*page 2*/


.hexagon-group-2 h1{
    position:absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size:49px;
    color: #fff;
   font-family: 'AlmoniDLAAA-Light';
    text-align: center;
    width: 600%;
    top: -218px;
    left: 50%;
}
/*.hexagon-group-2 label{*/
    /*position:absolute;*/
    /*transform: translate(-50%, -50%);*/
    /*-webkit-transform: translate(-50%, -50%);*/
    /*font-size:28px;*/
    /*color: #fff;*/
    /*font-family: 'almoni_dl_aaalight';*/
    /*text-align: center;*/
/*}*/
.hexagon-group-2{
    position:absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    top:45%;
    left:50%;
    width: 110px;
    cursor:pointer;
}
.hexagon-6 p{
    font-family: 'AlmoniDLAAA-Black';
    font-size:49px;
    color:#fff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    position: absolute;
    top: 65%;
    left: 50%;
    right: -31px;
}
.hexagon-6 {
     height: 64px!important;
    /*margin-top: -68px!important;*/
}
.hexagon-group-2>p{
    font-size:15px;
   font-family: 'AlmoniDLAAA-Light';
    color:#F08149;
    text-align: center;
    position:relative;
    top:75px;
}
.closes{
    position:absolute;
    top: 22px;
    right: 40px;
}

/* page 3*/

.header-menu {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 80px;
    background-color: #15535F;
    z-index:99999999999;
}
.header-menu .nav a{
    font-size:25px;
    font-family: 'AlmoniDLAAA-Bold';
    color:#fff!important;
}

.header-menu .nav img{
    margin-top: 22px;
    margin-left: 22px;
}
.header-menu>img{
    position: absolute;
    top: 17px;
    right: 50px;
    z-index: 99;
}

.header-menu .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left:30px;
    padding-right:30px;
}

.footer-control, .footer-first{
    height:80px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #E7EEEF;
    z-index:9999999999;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.footer-first{
    z-index: 9999;
}
.footer-control img:not(.logo){
    position:absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left:50%;
    top: 40px;
    cursor:pointer;
}
.links{
    margin-top: 20px;
    margin-left: 20px;
}
 .links a{
    color:#15535F;
    font-size:12px;
     font-family: 'AlmoniDLAAA';
}
 .links span{
    color:#15535F;
}
.footer-control ul li a, .footer-first ul li a{
    font-size:29px;
    font-family: 'AlmoniDLAAA-Bold';
    color:#104C50;
}
.footer-first ul li a{
    color: #fff;
}
.footer-control .navbar-right, .footer-first .navbar-right {
    margin-right: 15px;
    margin-top: 9px;
}
.page10 .footer-menu .control-up{
    position:absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left:50%;
    top: 40px;
}

.seeds{
    position: relative;
    top: 30%;
    width: 1207px;
    height: 577px;
    margin: 0 auto;
    background: url(../img/seeds1.png) no-repeat -489px 0;
}
.content-plant{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    direction: rtl;
}
.content-plant>h1{
    position:absolute;
    top:19%;
    left:0;
    width: 100%;
    text-align: center;
    font-size:49px;
    font-family: 'AlmoniDLAAA-Black';
    color:#fff;
    z-index:99999999;
}
.content-plant>p{
    position:absolute;
    top: 64%;
    font-size:20px;
   font-family: 'AlmoniDLAAA-Light';
    color:#fff;
    width: 580px;
    left: calc(50% - 290px);
    text-align: center;
}
.sports{
    position:absolute;
    top: 35%;
    left: calc(50% - 132px);
}
.plant{
    position:absolute;
    top: 29%;
    left: calc(50% - 169px);
}
.bush{
    position:absolute;
    top: 28%;
    left: calc(50% - 170px);
}
.hex{
    position: absolute;
    top: 100px;
    left: 10px;
    z-index:99;
}
.growslove {
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    width: 50px ;
    height:50px;
    z-index: 9999999999;
}
.growslove h1{
    font-size:49px;
    font-family: 'AlmoniDLAAA-Black';
    position: absolute;
    color:#fff;
    top: -298px;
    left: calc(50% - 200px);
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    z-index:9999;
}
.cabinet{
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: -250px;
    bottom: 180px;
    z-index: 100;
}
.sofa{
    position: absolute;
    transform: translate(-50%, -50%);
    right: -250px;
    bottom: 190px;
    z-index: 100;
}
.trees{
    position: absolute;
    top: calc(50% - 82px);
    left: calc(50% - 86px);
    z-index: 99;
}
.shadow{
    position: absolute;
    top: calc(50% - -164px);
    left: calc(50% - 180px);
    z-index: 99;
}
.growslove .shine{
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.girl{
    position: absolute;
    left: 115px;
    top: -180px;

}
.shovel{
    position: absolute;
    left: 66px;
    top: -155px;
    z-index: 999;
}

.growslove .heart{
    position: absolute;
    left: calc(50% - 30px);
    top: 10px;
    cursor: pointer;
    z-index: 99;
}
.cabin{
    position: absolute;
    top: calc(50% - 221px);
    left: calc(50% - 136px);
    width: 263px;
    height: 442px;
    background: url('../img/cabin.png') no-repeat 0 0;
    z-index: 9;
}

/*.heart{*/
    /*position: absolute;*/
    /*left: 100px;*/
    /*top: 195px;*/
/*}*/

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}
/*.footer-control .nav > li > a {*/
    /*display: inline-block;*/
/*}*/

.hex-content-1 span{
     font-family: 'AlmoniDLAAA';
    font-size:22px;
    color:#fff;
}
.hex-content-2 span{
     font-family: 'AlmoniDLAAA';
    font-size:22px;
    color:#fff;
}
.hex-content-3 span{
     font-family: 'AlmoniDLAAA';
    font-size:22px;
    color:#fff;
}
.hex-content-4 span{
     font-family: 'AlmoniDLAAA';
    font-size:22px;
    color:#fff;
}
.hex-content-1 p{
   font-family: 'AlmoniDLAAA-Light';
    font-size:15px;
    color:#fff;
}
.hex-content-2 p{
   font-family: 'AlmoniDLAAA-Light';
    font-size:15px;
    color:#fff;
}
.hex-content-3 p{
   font-family: 'AlmoniDLAAA-Light';
    font-size:15px;
    color:#fff;
}
.hex-content-4 p{
   font-family: 'AlmoniDLAAA-Light';
    font-size:15px;
    color:#fff;
}
.hex-content-1{
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    top: 43px;
    left: 82px;
    line-height: 11px;
}
.hex-content-2{
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    line-height: 11px;
    top: 42px;
    text-align: center;
    right: -19px;
}
.hex-content-3{
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    line-height: 11px;
    top: 115px;
    text-align: center;
    right: 102px;
}
.hex-content-4{
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    line-height: 11px;
    top: 114px;
    text-align: center;
    right: 27px;
}
.set-up {
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    top: 60%;
    left: 52%;
    width: 50px;
    height: 50px;
    z-index:999;
}
.set-up .cabin-sup{
    position: absolute;
    top: -185px;
    left: -140px;
    width: 273px;
    height: 446px;
    background: url(../img/cabin.png) no-repeat 0 0;
}
.set-up .trees-sup{
    position: absolute;
    top: -65px;
    left: -95px;

}
.set-up h1{
    font-size:49px;
    font-family: 'AlmoniDLAAA-Black';
    position: absolute;
    color:#fff;
    top: -280px;
    text-align: center;
    left: -70px;
}
.open-sup-1,.open-sup-2,.open-sup-3,.open-sup-4,.open-sup-5,.open-sup-6,.open-sup-7{
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    cursor:pointer;
}
.open-sup-1,.open-sup-2,.open-sup-3,.open-sup-4,.open-sup-5,.open-sup-6,.open-sup-7{
    z-index:999999;
}
/*.closes-sup-1,.closes-sup-2,.closes-sup-3,.closes-sup-4,.closes-sup-5,.closes-sup-6,.closes-sup-7{*/
    /*z-index:9;*/
/*}*/
.info-sup-1,.info-sup-heart{
    position:absolute;
    visibility:hidden;
    opacity:0;
    background-color: #fff;
    border-radius: 10px;
    right: 75px;
    top: 10px;
}

.info-sup-1 h2{
    background-color: #F08149;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    text-align: right;
   font-family: 'AlmoniDLAAA-Light';
    font-size:32px;
    margin-top:0;
    width: 201px;
}
.info-sup-heart h2{
    background-color: #F08149;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    text-align: right;
    font-family: 'AlmoniDLAAA-Light';
    font-size:32px;
    margin-top:0;
    width: 201px;
}
.info-sup-1 p{
     padding: 10px;
     text-align: right;
    font-size:15px;
   font-family: 'AlmoniDLAAA-Light';
}
.info-sup-heart p{
    padding: 10px;
    text-align: right;
    font-size:15px;
    font-family: 'AlmoniDLAAA-Light';
}
.open-sup-1{
    top: -164px;
    right: 109px;
}
.open-sup-2{
    top: -70px;
    right: 108px;
}
.open-sup-3{
    top: 176px;
    right: 104px;
}
.open-sup-4{
    top: 197px;
    right: -20px;
}
.open-sup-5{
    top: 144px;
    right: -123px;
}
.open-sup-6{
    top: -16px;
    right: -123px;
}
.open-sup-7{
    top: -139px;
    right: -123px;
}

/*.back-ground-slider{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: url(../img/back-ground-slider.png) no-repeat scroll center center;*/
    /*background-size: cover;*/
    /*position: absolute;*/
/*}*/

.bxslider h2{
    font-size:28px;
   font-family: 'AlmoniDLAAA-Light';
    color: #fff;
    text-align: right;
    background-color: #F08149;
    margin: 0;
    padding: 10px;
}
.bxslider h1{
    font-size:44px;
   font-family: 'AlmoniDLAAA-Light';
    color: #fff;
    text-align: right;
    margin-top: -20px;
    position: relative;
    z-index: 9999999999999;
}
.bxslider p{
    font-size:20px;
   font-family: 'AlmoniDLAAA-Light';
    color: #fff;
    text-align: right;
}
.img-slider-1{
    /*width: 437px;*/
}

.icon-container-hex{
    margin: 0 auto;
    display:block;
}
.icon-container-hex i{
    background-image: url(../img/hex-img.png);
    background-repeat: no-repeat;
    background-size:100%;
    height: 100%;
    width: 100%;
    display: block;
}
/*#1*/
.icon-shield{
    background-position: 0px 0px;
    width: 74px!important;
    height: 58px!important;
}
.icon-st1{
    background-position: 0px -66px;
    width: 76px!important;
    height: 62px!important;
}
.icon-plate{
    background-position: 0px -135px;
    width: 75px!important;
    height: 58px!important;
}
.icon-spoon{
    background-position: 0px -202px;
    width: 75px!important;
    height: 60px!important;
}
.icon-100{
    background-position: 0px -269px;
    width: 75px!important;
    height: 60px!important;
}
/*#10*/
.icon-store{
    background-position: 0px -325px;
    width: 75px!important;
    height: 58px!important;
}

.icon-magazine{
    background-position: 3px -392px;
    width: 75px!important;
    height: 58px!important;
}
.icon-facebook{
    background-position: 0px -457px;
    width: 75px!important;
    height: 58px!important;
}
.icon-association{
    background-position: 1px -524px;
    width: 75px!important;
    height: 58px!important;
    margin-left: -8px;
}
.icon-user{
    background-position: 1px -585px;
    width: 75px!important;
    height: 58px!important;
}

.girl-end{
    position:absolute;
    top: 215px;
    left: -185px;
    z-index: 99;
}
.hexagon-group-3{
    position:absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    top:60%;
    left:50%;
    width: 230px;
}
.hexagon-group-3 .hexagon-1 .hex-1 {
    top: -9px;
    left: 19px;
}
.hexagon-group-3 .hexagon p {
    right: 0px;
}
.hexagon-group-3 .hexagon-1 p {
    right: 0px;
    top: 2px;
}
.hexagon-group-3 .hexagon-2 p {
    right: 14px;
    top: 4px;
}
.hexagon-group-3 .hexagon-3 p {
    right: 10px;
    bottom: 3px;
}
.hexagon-group-3 .hexagon-4 p {
    right: 4px;
    top: 2px;
}
.hexagon-group-3 .hexagon-5 p {
    right: 13px;
    top: 2px;
}

.page10 h1{
    font-size:49px;
    font-family: 'AlmoniDLAAA-Black';
    color:#fff;
    position:absolute;
    top: 26%;
    width: 100%;
    left: 0;
    text-align: center;
  }
.page10 .content>p {
    font-size: 29px;
     font-family: 'AlmoniDLAAA';
    color: #F08149;
    position: absolute;
    left: 0;
    top: 67%;
    width: 100%;
    text-align: center;
}

.main,.onepage-pagination{
    display: none;
}
.enter-site, .page1{
    width:100%;
    height:100%;
}

.display-on{
    display: block;
}
.display-off{
    display: none;
}

.onepage-pagination li a:after{
    display: none;
    height: 46px;
    width: 150px;
    background-image: url(../img/message.png);
    background-repeat: no-repeat;
    position: relative;
    right: 207px;
    opacity: 0;
    top: -12px;
    font-size: 21px;
     font-family: 'AlmoniDLAAA';
    text-decoration: none;
    transition: all, 1s;
    -webkit-transition: all, 1s;
}
/**/
.fadeInLeftAfter:after {
    opacity: 1!important;
    right: 157px!important;
}
.onepage-pagination li a[href="#1"]:after{
    content: 'התחל';
    padding-top: 7px;
    padding-right: 12px;
}
.onepage-pagination li a[href="#2"]:after{
    content: 'הצמח';
    padding-top: 7px;
    padding-right: 12px;
}
.onepage-pagination li a[href="#3"]:after{
    content: 'הנבטה';
    padding-top: 7px;
    padding-right: 12px;
}
.onepage-pagination li a[href="#4"]:after{
    content: 'צמיחה';
    padding-top: 7px;
    padding-right: 12px;
}
.onepage-pagination li a[href="#5"]:after{
    content: 'פריחה';
    padding-top: 7px;
    padding-right: 12px;
}
.onepage-pagination li a[href="#6"]:after{
    content: 'המערכת';
    padding-top: 7px;
    padding-right: 12px;
}
.onepage-pagination li a[href="#7"]:after{
    content: 'גלו עוד';
    padding-top: 7px;
    padding-right: 12px;
}

.onepage-pagination li a.active:after{
    display: block;
}
.info-sup-vis{
    visibility:visible!important;
    opacity:1!important;
    transition:2s all;
}
.icon-container-sup i{
    background-image: url(../img/icons-or.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 100%;
    width: 100%;
    display: block;
}
.icon-container-sup{
    width: 60px;
    height: 73px;
    margin: 0 auto;
    display:block;
}

.icon-add{
    background-position: 10px 0px;
}
.icon-closes{
    background-position: 0 -82px!important;
}
.icon-heart-girl{
    background-position:0px -164px!important;
    position: relative;
}
.closes-icon{
    transition:2s all;
}
input[name="enter"]{
    opacity:0;
}

.label-radio{
    background-image: url(../img/radio.png);
    background-repeat:no-repeat;
    background-position: 91% 9px;
   font-family: 'AlmoniDLAAA-Light';
    font-size:28px;
    color:#fff;
    display: block;
    font-weight: normal;
    cursor:pointer;
    margin-right: 20px;
    padding-right: 80px;
    text-align: right;
}

.radio-group{
    position:absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 500%;
    top: -68px;
    left: 50%;
}
.label-active{
    background-position: 91% -60px!important;
}

.page3 .back-ground-2{
    z-index:999999999999;
}
.back-ground-floor{
    position:absolute;
    width: 100%;
    height: 170px;
    z-index: 98;
    background-color: #104C50;
    bottom: 50px;
    left: 0;
}

.tooltip {
    display: inline;
    position: relative;
    z-index: 999;
}

/* Gap filler */
.tooltip::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 100%;
    left: 50%;
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tooltip:hover::after {
    pointer-events: auto;
}

/* Tooltip */

.tooltip-content {
    position: absolute;
    z-index: 9999;
    width: 300px;
    left: 50%;
    bottom: 100%;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    font-weight: 400;
    color: #fffaf0;
    background: transparent;
    opacity: 0;
    margin: 0 0 20px -150px;
    cursor: default;
    pointer-events: none;
    font-family: 'Satisfy', cursive;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: opacity 0.3s 0.3s;
    transition: opacity 0.3s 0.3s;
}

.tooltip:hover .tooltip-content {
    opacity: 1;
    pointer-events: auto;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.tooltip-content span {
    display: block;
}

.tooltip-text {
    border-bottom: 10px solid #fffaf0;
    overflow: hidden;
    -webkit-transform: scale3d(0,1,1);
    transform: scale3d(0,1,1);
    -webkit-transition: -webkit-transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s;
}

.tooltip:hover .tooltip-text {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

.tooltip-inner {
    background: rgba(85,61,61,0.95);
    padding: 40px;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.tooltip:hover .tooltip-inner {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* Arrow */

.tooltip-content::after {
    content: '';
    bottom: -20px;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #fffaf0;
    border-width: 10px;
    margin-left: -10px;
}
.blur-active{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
.blur-off{
    -webkit-filter:none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: none;
}
.bx-wrapper{
    top:0;
}
@media(max-height:709px){
    .growslove h1 {
        top: -268px!important;
    }
    .content-plant>h1 {
        top: 12%!important;
    }
    .seeds {
        top: 25%;
    }
    .sports {
        top: 30%;
    }
    .plant {
        top: 22%;
    }
    .bush {
        top: 23%;
    }
    .page7.content-plant>p {
        top: 68%!important;
    }
    .set-up h1 {
        top: -260px;
    }
    .set-up  {
        top: 52%;
    }
    .page10 h1 {
        top: 16%;
    }
}
.icon-add:hover{
    background-position: 0 -82px!important;
}
.icon-heart-girl:hover{
    background-position: 0 -82px!important;
}
.shadow-set-up {
    position: absolute;
    top: calc(50% - -176px)!important;
    left: calc(50% - 212px)!important;
}

.pre-title{
    visibility: hidden;
    -webkit-animation-name: none;
}
.hexagon-fix{
    position: relative;
    top: -32px;
}
.footer-menu{
    display: none;
}
.onepage-wrapper .section {
    height: 101%;
}