
@font-face {
  font-family: 'AlmoniDLAAA-Black';
  src: url('AlmoniDLAAA-Black.eot?#iefix') format('embedded-opentype'),  url('AlmoniDLAAA-Black.otf')  format('opentype'),
	     url('AlmoniDLAAA-Black.woff') format('woff'), url('AlmoniDLAAA-Black.ttf')  format('truetype'), url('AlmoniDLAAA-Black.svg#AlmoniDLAAA-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
